name: Validation Pipeline (Checkov Security Scan)

permissions:
  contents: read
  security-events: write

on:
  push:
    branches:
      - main
      - hager/task1

  pull_request:

jobs:

# =========================
# JOB 1 - CHECK DOCKERFILE
# =========================
  dockerfile-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check Dockerfile Exists
        run: |
          ls Dockerfile


# =========================
# JOB 2 - CHECKOV SECURITY SCAN
# =========================
  security-scan:
    runs-on: ubuntu-latest
    needs: dockerfile-check

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov Scan (Console)
        run: |
          checkov -d . \
          --framework dockerfile,github_actions

      - name: Generate SARIF Report
        run: |
          checkov -d . \
          --framework dockerfile,github_actions \
          -o sarif \
          --output-file-path checkov-report.sarif

      - name: Upload Checkov Report
        uses: actions/upload-artifact@v4
        with:
          name: checkov-security-report
          path: checkov-report.sarif
